.root {
    -fx-font-family: 'Segoe UI';
    -fx-background-color: #f4f6f8;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #dcdcdc;
}

.table-row-cell:filled:selected {
    -fx-background-color: #ffcccc;
}

.button {
    -fx-background-color: #1f2937;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-background-radius: 6;
}